body {
  font-family: $base-font;
  background-color: $light-gray;
  color: $dark-blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $blue;
  transition: 0.5s;

  &:hover {
    color: #65869a;
  }
}
