// @import "./fonts";

// Fonts
$base-font: "Source Sans Pro", sans-serif;
$secondary-font: "Oswald", sans-serif;

// Colors
$white: #fff;
$dark-blue: #1c262d;
$light-gray: #f4f4f4;
$blue: #7c98a9;

// Breakpoints
$tablet: "screen and (max-width: 768px)";
$mobile: "screen and (max-width: 680px)";
