// @import "./fonts";

// Fonts
$base-font: sans-serif;
$secondary-font: serif;

// Colors
$rose-gold: #bd8c7d;
$rose-gold-dark: #b27866;
$slate: #262626;
$silver: #8e8e90;

// Breakpoints
$tablet: "screen and (max-width: 768px)";
$mobile: "screen and (max-width: 680px)";
